Package: in.net.mario.tweak.fixentitlement
Name: EntitlementFix
Depends: mobilesubstrate
Version: 0.0.3
Architecture: iphoneos-arm
Description: Fix entitlement check for gamed & nehelper
Maintainer: Mario Cheung
Author: Mario Cheung
Section: Tweaks
